<form class="page" [formGroup]="form">
  <mat-card *ngIf="aluno" class="view-card">

    <mat-card-content class="view-content mat-elevation-z8">

      <!-- Header do card com botão voltar e título -->
      <div class="view-header">
        <button mat-icon-button type="button" aria-label="Voltar" (click)="voltar()" class="back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <span class="view-title">Detalhes do Aluno</span>
      </div>

      <div class="foto-container">
        <div class="foto-borda">
          <img *ngIf="aluno?.fotoUrl" [src]="aluno.fotoUrl" appDefaultImage alt="Foto de {{aluno.nome}}"
            class="foto-aluno">
        </div>
      </div>


      <app-view-field label="Nome Completo" icon="person" [value]="form.value.nome"></app-view-field>

      <app-view-field label="CPF" icon="badge" [value]="form.value.cpf | cpf">
      </app-view-field>

      <app-view-field label="Email" icon="email" [value]="form.value.email" type="email">
      </app-view-field>

      <app-view-field label="Telefone" icon="phone" [value]="form.value.telefone" type="tel">
      </app-view-field>

      <app-view-field label="Matrícula" icon="confirmation_number" [value]="form.value.matricula">
      </app-view-field>

      <!-- Status somente leitura / desabilitado) -->
      <app-status-badge [status]="form.value.status"></app-status-badge>

      <!-- Botão full-width logo abaixo dos campos -->
      <button class="view-button" mat-raised-button color="primary" (click)="voltar()">
        Voltar
      </button>

    </mat-card-content>

  </mat-card>

</form>