
.view-card {
  max-width: 100%;
  margin: 24px 16px;
  padding: 16px 24px;
  border-radius: 10px;
  box-sizing: border-box;


}
.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.titulo {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}
.btn-novo{
    background-color: red;
    
}

/* Barra de busca */
.barra-top {
    display: flex;
    margin-bottom: 20px;
    
}

.campo-busca{
  width: 100%;
 
}


.table {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    
    margin: 12px 10px 1px 4px ;
    
}
.table mat-header-row {
    background-color: #f5f1f1;
    font-weight: 700;
    padding: 2px 2px;
    
    
}


.acoes {
    display: flex;
    gap: 8px;
    padding-left: 16px;
    padding-right: 45px;
   
    
}

.acao-visualizar {
    border-radius: 15%;
    background-color: #6f7071;
    color: white;
}

.acao-editar {
    border-radius: 15%;
    background-color: #1e71c5;
    color: white;
}

.acao-excluir {
    border-radius: 15%;
    background-color: #f50909;
    color: white;
    
}

.acoes matTooltip {
    background-color: #08a8a8;
}

mat-header-cell{
    background-color: #f5f1f1;
    font-weight: 700;
    padding-left: 1px;
    padding-right: 0;
    
   
 
}


mat-cell {
    border-right: 1px solid #e0e0e0;
    padding-right: 0px;
    padding-left: 20px;
    justify-content: left;
}

/* Container da célula */
.status-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Bolinha do status */
.status-indicador {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

/* Verde = ativo */
.status-ativo {
  background-color: #2ecc71;
}

/* Amarelo = inativo */
.status-inativo {
  background-color: #f1c40f;
}

/* Texto do status */
.status-text {
  font-size: 10px;
}


