<form class="page" (ngSubmit)="salvar()">
  <mat-card class="view-card">
    <mat-card-content class="view-content mat-elevation-z8">

      <!-- Header com voltar + título -->
      <div class="view-header">
        <button mat-icon-button type="button" (click)="voltar()" class="back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="view-title">Novo Aluno</span>
      </div>

      <!-- Foto -->
      <mat-label>Foto do Aluno</mat-label>
      <div class="foto-linha">
        <div class="foto-borda">
          <img [src]="fotoPreview" appDefaultImage class="foto-aluno" />
        </div>

        <input type="file" (change)="onFileSelected($event)" accept="image/*" class="input-foto" />
      </div>

      <!-- Nome -->
      <app-input-field label="Nome Completo" icon="person" placeholder="Digite o nome do aluno" [maxlength]="200"
        [control]="nomeControl" errorText="Nome inválido."></app-input-field>

      <!-- Email -->
      <app-input-field label="Email" icon="email" type="email" placeholder="usuario@email.com" [maxlength]="254"
        [control]="emailControl" errorText="E-mail inválido."></app-input-field>

      <!-- CPF -->
      <app-input-field label="CPF" icon="badge" maxlength="14" placeholder="000.000.000-00" [control]="cpfControl"
        errorText="CPF inválido."></app-input-field>

      <!-- mensagem do backend -->
      <div class="field-error-backend" *ngIf="mensagemBackend">
        {{ mensagemBackend }}
      </div>

      <!-- Telefone -->
      <app-input-field label="Telefone" icon="phone" maxlength="11" placeholder="(00) 00000-0000" [control]="telefoneControl"
        errorText="Telefone inválido."></app-input-field>
        
      <!-- Botões lado a lado -->
      <div class="actions">
        <button mat-stroked-button type="button" (click)="voltar()" class="btn-cancelar">
          Cancelar
        </button>

        <button mat-raised-button color="primary" type="submit" class="btn-cadastrar" [disabled]="buttonDisabled()">
          Cadastrar
        </button>
      </div>

    </mat-card-content>
  </mat-card>
</form>