<form class="page" [formGroup]="form" (ngSubmit)="salvar()" *ngIf="aluno">
  <div class="zoom-wrap">
    <mat-card class="view-card">
      <mat-card-content class="view-content mat-elevation-z8">

        <!-- Header com voltar e título -->
        <div class="view-header">
          <button mat-icon-button type="button" (click)="voltar()" class="back-button">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="view-title">Editar Aluno</span>
        </div>

        <!-- Foto -->
        <div class="foto-linha">
          <img [src]="fotoPreview || aluno.fotoUrl" appDefaultImage alt="Foto-aluno" class="foto-aluno" />
          <input type="file" (change)="onFileSelected($event)" accept="image/*" class="input-foto" />
        </div>

        <!-- Nome (desabilitado) -->
        <app-view-field label="Nome Completo" icon="person" [value]="aluno?.nome">
        </app-view-field>

        <!-- Email (editável) -->
        <app-input-field label="Email" icon="email" type="email" placeholder="aluno@email.com" [maxlength]="254"
          [control]="emailControl" errorText="Informe um e-mail válido."></app-input-field>

        <!-- Telefone (editável) -->
        <app-input-field label="Telefone" icon="phone" type="tel" placeholder="(00) 00000-0000" [maxlength]="11"
          [control]="telefoneControl" errorText="Informe o telefone."></app-input-field>

        <!-- Matrícula (desabilitada) -->
        <app-view-field label="Matrícula" icon="confirmation_number" [value]="aluno?.matricula">
        </app-view-field>

        <!-- Status (editável) -->
        <mat-label>Status</mat-label>
        <mat-radio-group class="status-group" formControlName="status">
          <mat-radio-button value="ATIVO">Ativo</mat-radio-button>
          <mat-radio-button value="INATIVO">Inativo</mat-radio-button>
        </mat-radio-group>

        <!-- Botões (cancelar a esquerda / salvar a direita) -->
        <div class="actions">
          <button mat-stroked-button type="button" (click)="voltar()" class="btn-cancelar">
            Cancelar
          </button>

          <button mat-raised-button color="primary" type="submit" class="btn-salvar" [disabled]="btnDesabilitado">
            Salvar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</form>